---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<p>
I have experience of presenting both contributed and invited talks at a range of seminars and conferences, both in the UK and internationally. I have also given a number of poster presentations. A complete list is provided below. You can also <a href="/talkmap.html" style="color:#52adc8;">click here</a> to see a map of all the places I've presented!
</p>

<h2>Invited Talks</h2>
Below is a list of invited talks and seminars.

{% for post in site.talks reversed %}
  {% if post.type == 'Invited Talk' or post.type == 'Invited Seminar' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Contributed Talks</h2>
Below is a list of `contributed' talks at conferences and meetings.

{% for post in site.talks reversed %}
  {% if post.type == 'Contributed Talk' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Poster Presentations</h2>
Below is a list of poster presentations I have given at relevant conferences and meetings.

{% for post in site.talks reversed %}
  {% if post.type == 'Poster' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

