---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<p>
I have experience of presenting both contributed and invited talks at a range of seminars and conferences, both in the UK and internationally. In the past, I have also given a number of poster presentations.
</p>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">Click here to see a map of all the places I've presented!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
