---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I deeply enjoy teaching and find it to be a stimulating and rewarding component of my academic activities. I have experience of delivering a range of course material to both undergraduate and postgraduate students, including leading small-group teaching. My original training was in applied mathematics and theoretical physics, as well as in scientific computing. As such, I am comfortable teaching more fundamental courses with significant levels of mathematical content, as well as teaching scientific programming. I also enjoy teaching various aspects of materials physics. A list of relevant teaching experiences is provided below.

<figure style="width: 400px" class="align-center">
  <img src="{{ site.url }}{{ site.baseurl }}/images/conference_1.jpeg" alt="Delivering a presentation">
</figure>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
