---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I have experience of delivering a range of course material to both undergraduate and postgraduate students, including leading small-group teaching. A list of experiences is below.

<figure style="width: 400px" class="align-center">
  <img src="{{ site.url }}{{ site.baseurl }}/images/conference_1.jpeg" alt="Delivering a presentation">
</figure>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
